---
title: Home
description: The latest app to help you find new friends with common interests.
image: https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80
bottom_image: https://images.unsplash.com/photo-1568941132351-ee4fff172b42?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Buckist - Best bucket list app ever</h1>
			<p class="subtext editable">A powerful app which allows you to create and manage a list of things to do before you die!</p>
			<div class="cta button alt"><a href="https://play.google.com/store/apps/details?id=com.icetea09.bucketlist">DOWNLOAD NOW</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Manage your bucket list efficiently</h2>
				<p class="editable">Easily add items with awesome feature image, data sync across devices</p>
			</div>
			<div class="image">
				<img class="editable" src="https://lh3.googleusercontent.com/Bq8VZHLkve6PP54gPwsXuBhgvA6co7wxzUyE_w88czDqEGj4HxUKAXEer00WnaLhjA=w2880-h1522-rw" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Unlimited inspirations and ideas</h2>
				<p class="editable">Inspirations list where you can explore other users ideas and wishlist</p>
			</div>
			<div class="image">
				<img class="editable" src="https://lh3.googleusercontent.com/evazq01JULZmmRi29QwQ_9hSDGP3vQdeykZ3cHfeynvbu8pquaqjohluPxrIMy4s2w=w1440-h620-rw" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Secure and Personalize Buckist as you like</h2>
				<p class="editable">Buckist supports many types of security methods: Pincode, Passcode, Fingerprint and customizations to make the most comfortable app to use</p>
			</div>
			<div class="image">
				<img class="editable" src="images/device-2019-12-19-115103.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Make your wishlist today</h2>
				<p class="subtext editable">It's free, fun and an exciting way to motivate yourself.</p>
				<div class="cta button alt"><a href="https://play.google.com/store/apps/details?id=com.icetea09.bucketlist">DOWNLOAD</a></div>
			</div>
		</div>
	</section>
</div>
